@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Work+Sans:wght@400;700&display=swap");
.App {
  text-align: center;
}
:root {
  --fontColour : #1b31a8
}
.tag-line {
  position: relative;
  top: 10px;
  letter-spacing: 1px;
  color: var(--fontColour);
  font-family: "Work Sans", sans-serif;
}
