// IMPORTING WORKSANS AND RUBIK FONT
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Work+Sans:wght@400;700&display=swap");

// MAIN CONTAINER
.container-map-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
// CALCUALTE AND CLEAR BTN
.calculate-btn,
.clear-btn {
  background-color: #1b31a8;
  color: #fff;
  border-radius: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #1b31a8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.calculate-btn:hover,
.clear-btn:hover {
  background-color: #fff;
  color: #1b31a8;
  border: 1px solid #1b31a8;
}
.map-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.data-recieved {
  display: flex;
  flex-direction: column;
}
// LABEL STYLING
.label-styles {
  position: relative;
  top: 30px;
  right: 115px;
  margin: 0 6px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.pin-icon {
  position: relative;
  top: 42px;
  right: 115px;
  margin: 0 6px;
}
.input-styles {
  /* $neutralWhite */
  font-family: Rubik;
  background: #ffffff;
  /* $blueGray50 */
  border: 1px solid #e9eef2;
  padding: 15px 35px;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  color: #4d6475;
}
.distance-recieved,
.duration-recieved,
.places-details {
  padding: 0 20px;
  margin: 5px 0;
  position: relative;
  top: 20px;
  width: 500px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.distance-recieved,
.duration-recieved p {
  font-size: 18px;
  font-family: "Work Sans";
}
.places-details {
  background-color: #f4f8fa;
}
.btn-style {
  position: relative;
  top: 25px;
  left: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dist-value,
.dur-value {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #1f89ff;
  /* or 38px */

  text-align: right;
}
.calculate-btn,
.clear-btn {
  font-family: "Work Sans";
}

// REUSABLE STYLES
.btn-style div {
  margin: 0 20px;
}
.bold-styles {
  font-weight: bold;
}
.mg-35 {
  margin-left: 35px;
}
